{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>Login | Docarto </title>
{% endblock %}
{% block content%}

    {% if emailSentModal == "success" %}
      <script type="text/javascript">
          $(window).on('load',function(){
            $('#myModal5').modal('show');
          });
      </script>

    {% endif %}
      <div class="container">
	  <div class="row">
	  <div class="col-sm-8">
    <img src="{% static 'main/images/refer-n-get-forever.jpg'%}">
</div>
			 <div class="col-sm-4">
			 <div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
						<div class="modal-body modal-spa">
							<div class="login-grids">
								<div class="login">
									<div class="login-right">
										<h3>Sign in with your account</h3>
										<form method="POST" action="?next={{next}}">
                      {% csrf_token %}
                      {% if message %}
                      <div class="alert alert-warning">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>{{ message }}</strong>
                      </div>

  										{% endif%}
                      <div class="sign-in">
												<h4>Email :</h4>
												<input type="email" name='username' required="true">
											</div>
											<div class="sign-in">
												<h4>Password :</h4>
												<input type="password" name='password'  required="true">
												<a href="{% url 'pass_reset' %}">Forgot password?</a>
											</div>

											<div class="sign-in">
												<input type="submit" value="SIGNIN" >
											</div>
										</form>
									</div>
									<div class="clearfix"></div>
								</div>
                            </div>
						</div>
					</div>
				</div>
		</div>
		</div>
		</div>

    <div class="modal" id="myModal5" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">You have been successfully registered.</h4>
        </div>
        <div class="modal-body">
          <p>We have sent an email to your registered Email ID. You can Log In now.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
    </div>
{%endblock%}
