{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	<title>About Us | Docarto</title>
{% endblock %}

{% block content%}

<h1 class="page-description">Our Servieces</h1>
    <div  class="container">
   				<div class="row">
					<div class="col-sm-6">
						<div class="team-member">
                            <div class="team-member-image"><img src="{% static 'main/images/Coupon-codes.jpg'%}" alt="Online Shopping Offers" class="img-rounded">
								<ul>
                                    <li class="team-member-name">Latest Offers n Deals</li>
									<hr>
									<p>Get best offers of differnet Portals</p>
               					</ul>
							</div>
                        </div>
					</div>
					<div class="col-sm-6">
						<div class="team-member">
                            <div class="team-member-image"><img src="{% static 'main/images/Get-cash-from-our-commission.jpg' %}" class="img-rounded" alt="Get Extra Cashback">
                    			<ul>
                                    <li class="team-member-name">Get 90% cashback from our commission</li>
									  <hr>
										<p>Just by referring your friends suppose how much you can earn</p>
								</ul>

						</div>
                    </div>
				</div>
				<div class="col-sm-6 content-img-right">

            <p class="points">Welcome to Docarto.com, an online portal of bargainers, searching latest offers n deals only for you. We keep you updated from best promos of many e-commerce companies like Amazon, Flipkart, MakeMyTrip, Oyo-Rooms, Domain and Hosting, Food, Online servieces and many more.</p>
		</div>

		<div class="col-sm-6 content-img-right">
			<p class="points">while shopping on india's top portals. Just you have to redirect from Docarto.com; We will track your order & get commission from partner site then we share it with our members. This 90% commission is divided into 80% and 10%, 80% is given to direct user and rest 10% to your friend who referred you on our site. Earn lifetime when your friend signup with your unique referral code and Purchase anything.
 </p>
		</div>
				<div class="col-sm-6">
						<div class="team-member">
                            <div class="team-member-image"><img src="{% static 'main/images/brand-ambassador-docarto.png' %}" alt="Campus-Ambassador Program" class="img-rounded">
								<ul>
									<li class="team-member-name">Become Brand-ambassador of Docarto</li>
									  <hr>
										<p>Gain Marketing Experience and start earning with us</p>
               					</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
						<div class="team-member">
                            <div class="team-member-image"><img src="{% static 'main/images/your-guide.png' %}" alt="Top Offers directly in your inbox" class="img-rounded">
								<ul>
									<li class="team-member-name">Your Guide</li>
									  <hr>
										<p>Get best offers on your favourite product/serviece in your Inbox.</p>
               					</ul>
						</div>
					</div>
				</div>
		</div>
</div>



<br>
<!--
<h1 class="page-description">Our Team</h1>
<div  class="container">
			<div class="row">
			<div class="col-sm-6">
				<div class="team-member">
												<div class="team-member-image"><img src="{% static 'main/images/hari-founder-docarto.jpg'%}" class="img-rounded" alt="Founder of Docarto">
						<ul>
																<li class="team-member-name">Harishankar Pansari (Founder & CEO)</li>
							<hr>
								<p>"This way you cann't become rich, but you can easily save upto 10000 per year.</p>
										</ul>
					</div>
										</div>
			</div>
			<div class="col-sm-6">
				<div class="team-member">
												<div class="team-member-image"><img src="{% static 'main/images/madhur-Cofounder-docarto.jpg'%}" class="img-rounded" alt="Co-Founder of Docarto">
						<ul>
																<li class="team-member-name">Madhur Agarwal (Co-Founder & Developer)</li>
								<hr>
								<p> "This doesn't help you to save money even you can earn money with us.</p>

						</ul>
												</div>
				</div>
								</div>
		</div>
</div>
-->

{% endblock %}
