		   {% for offer in offers %}

       <div class="col-md-3 product_offer">
          <div class="offer-item offer-list">
          <div class="deals-item">
            {% if offer.company.logo %}
           <img src="{{offer.company.logo.url }}" alt="{{offer.company.name}}" class="pro-image-front">
           {% endif %}
             <div class="men-cart-pro">
               <div class="inner-men-cart-pro">
                 <a href="{% url 'company' offer.company.name %}" class="link-product-add-cart">See More offers</a>
               </div>
             </div>
          </div>
          <div class="item-info-product ">
						<ul class="list-inline">
							  <p><b>{{offer.description}}</b></p>
							</ul>
					<br>
           <a href="{% url 'shop' offer.id %}" target="_blank" class="item_add single-item hvr-outline-out button2">Go to {{offer.company.name}}</a>
          </div>
          </div>
      </div>

			{% endfor %}
