{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	<title>Terms and Conditions | Docarto </title>
{% endblock %}

{% block content%}

<div class="container">
 <div class="row">
			<div class="col-sm-12">
		 <div style="color: darkcyan;font-size: 19px;">
		 <h2 class="page-description">Terms and Conditions</h2>

1.<b>Registration:</b>
You have to beacome our member to save n earn money while shopping online. <br>
2.<b>Earn Real Cash:</b>
We give 90% cash from our commission to our user(80% to direct user + 10% to referrer) on tracked purchases.
The partner-site must confirm that the Member's purchase is tracked and commission must be received by us.<br>
3.<b>Earning-Status:</b>
Pending status is that we have tracked as valid order and have been recognized by partner-site.
As they are still within the Cancellation & Returns period they cannot pay.
Confirmed status is that have been approved as valid sales.<br>
4.<b>Withhdraw Money:</b>
You can withdraw your cash when you have at least Rs 200 in your Account for Paytm and Rs.500 for Bank-
transfer.<br>
5.<b>Privacy and cookie Policy:</b>
You must follow these below policies.

</div>
		<br>

<div  style="color: darkcyan;font-size: 18px;">
<h2 class="page-description">Privacy and Cookie Policy</h2>
<b>We use cookies:</b>
To allow you to fetch information across pages of our site and avoid having to re-enter information.
To analyse statistics that allow us to understand how users use our site and to help us improve the user-
experience of our website.<br>
<b>Use of cookies:</b>
When you shop through our website, a cookie is placed on your computer. This enables us to track any purchases
you make with our partner sites and share commission with you.
If you do not have such cookies enabled on your browser you will not be able to earn cash on your
online shopping via our website.<br>

Use of any AdBlocker extension will not let us track your purchase and it may lose your cash.
</div>

	 <h2 class="page-description">Missing Cashback</h2>

			<span style="color: darkcyan;font-size: 18px;">    If you missed any cashback then kindly mail your order details to
		our email : </span>   <a href="mailto:docarto.india@gmail.com" style="font-size: 18px;">docarto.india@gmail.com</a>


 </div>
</div></div>
{% endblock %}
